<header class="container d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none logo">
        iBlog
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        {{#if isHome}}
           <li><a href="/" class="nav-link px-2 underline">Home</a></li>
        {{else}}
           <li><a href="/" class="nav-link px-2">Home</a></li>
        {{/if}}


        {{#if isBlogs}}
          <li><a href="/blogs" class="nav-link px-2 underline">Blogs</a></li>
        {{else}}
          <li><a href="/blogs" class="nav-link px-2">Blogs</a></li>
        {{/if}}

        {{#if isAdd}}
          <li><a href="/add" class="nav-link px-2 underline">Add blog</a></li>
        {{else}}
          <li><a href="/add" class="nav-link px-2">Add blog</a></li>
        {{/if}}

        {{#if isAbout}}
          <li><a href="/about" class="nav-link px-2 underline">About</a></li>
        {{else}}
          <li><a href="/about" class="nav-link px-2">About</a></li>
        {{/if}}
      </ul>

      <div class="col-md-3 text-end">
        <button type="button" class="btn btn-outline-dark me-2">Login</button>
        <button type="button" class="btn btn-dark">Sign-up</button>
      </div>
</header>